extends layout

block content
	h1
		a(href='#') Per Week App
	p Goal 4x per Week
	div.app

	div#initialContent=appData

	script(type="text/x-handlebars", id="weektemplate")
		
		a(href='#' class='name') {{title}} 

		//- Output if the button is pressed or not 
		{{#each data}}
		{{#if this}}
		span.button.pressed {{@key}}
		{{ else }}
		span.button {{@key}}
		{{/if}}
		{{/each}}

		{{#if completed}}
		i.icon-check
		{{/if}}

	script(type="text/x-handlebars", id="detailtemplate")
		h2 {{title}}
		h3 Completed {{completed}}

		//- Output if the button is pressed or not 
		{{#each data}}
		{{#if this}}
		span.button.pressed {{@key}}
		{{else}}
		span.button {{@key}}
		{{/if}}
		{{/each}}

		{{#if completed}}
		i.icon-check
		{{/if}}