extends layout

block content
	h1
		a(href='#') Per Week App
	p Goal 4x per Week

	div#initialContent=appData

	div#weekContent=weekData
	div.app


	script(type="text/x-handlebars", id="weektemplate")
		
		a(href='#' class='name') {{title}} 


	script(type="text/x-handlebars", id="buttontemplate")
		p button index
		{{#if checked}}
		span.button.pressed {{day}}
		{{else}}
		span.button {{day}}
		{{/if}}		
