extends layout

block content
	h1 
		a(href='#') Per Week app
	p Goal 4x per Week

	div#initialContent=appData
	div#weekContent=weekData
	p Testing
	div.app


	script(type="text/x-handlebars", id="weektemplate")
		a(href='#' class='name') {{title}} 
		{{#each data}}
		{{#if this}}
		span.button.pressed {{@key}}
		{{else}}
		span.button {{@key}}
		{{/if}}
		{{/each}}


	script(type="text/x-handlebars", id="buttontemplate")
		{{index}}
		{{#if checked}}
		span.button.pressed(data-attr="bea") {{day}}
		{{else}}
		span.button(data-attr="bea") {{day}}
		{{/if}}		