doctype html
html
  head
    title= title
    script(src='/javascripts/lib/underscore.js')
    script(src='/javascripts/lib/jquery.js')
    script(src='/javascripts/lib/backbone.js')
    script(src='/javascripts/lib/handlebars.js')
    script(src='/javascripts/src/client.js')
    script(src='/javascripts/src/init.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')        

  body
    block content