extends layout

block content
	h1
		a(href='#') Per Week App
	p Goal 4x per Week
	div.app

	div#initialContent=appData


	script(type="text/x-handlebars", id="buttontemplate")
		{{#if checked}}
		span.button.pressed {{day}}
		{{else}}
		span.button {{day}}
		{{/if}}		

	script(type="text/x-handlebars", id="detailtemplate")		


