extends layout

block content
	h1
		a(href='#') Per Week App
	p Goal 4x per Week

	div#initialContent=appData
	div#weekContent=weekData

	Testing
	div.app



	script(type="text/x-handlebars", id="buttontemplate")
		span(data-attr="bea") Test
		{{#if checked}}
		span.button.pressed {{day}}
		{{else}}
		span.button(data-attr="bea") {{day}}
		{{/if}}		

	script(type="text/x-handlebars", id="detailtemplate")		


